@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>New York City Taxi Viewer</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to New York City Taxi Viewer</h2>
        <p>
            Here is some text explaining what we're up to! 
        </p>
    </div>
</div>
