@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>New York City Taxi Viewer</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to New York City Taxi Viewer</h2>
        <p>
            The New York City Taxi Route Viewer is a visualization of the Yellow Taxi trip sheet data from the NYC Taxi & Limousine Commission. The large amount of data offered a variety of ways to visualize the information. With the size factor in mind, we wanted to have the data, in a way, convey a story through possible patterns and trends when displayed.        </p>
    </div>
</div>
